
.div-project-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left:auto;
    margin-right: auto;
    max-width: 90%;
  }

  .div-final-project-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left:auto;
    margin-right: auto;
    padding-top: 24px;
    max-width: 90%;
  }

  .project-title {
    align-self: center;
    max-width: 100%;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 108px; 
    color: #0B24F5;
    margin: 24px;
  }

  .project {
    display: flex;
    flex-direction: column;
    margin: 24px;
  }

  .final-project {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .project-image {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .final-project-image {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .final-project-content h2{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 43px;
    color: #000000;
  }

  .final-project-content p {
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 20px;
    
  }
  
  .project-content h2{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 43px;
    color: #000000;
  }
  
  .project-content p {
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 20px;
    
  }
  
  .code-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    
  }

  .tag {
    padding: 1%;
    background-color: #000000;
    color: white;
  }
  
  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: fit-content;
    /* gap: 20px; 
    margin-top: 20px;
    margin-bottom: 20px;
    */
  }

  @media (min-width: 667px) and (max-width: 1024px) {

    .project {
        display: flex;
        flex-direction: row;
        gap: 10px;
  
    }
    .final-project {
      background-color: #FCEDEA;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      padding-top: 50px;
      padding-bottom: 50px;

  }
  .final-project-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-right: 50px;
    padding-left: 50px;
}
    .project-image {
        width: 35%;
        margin-top: 0;
        margin-bottom: 0;
    }

    .final-project-image {
      width: 35%;
      margin-top: 0;
      margin-bottom: 0;
  }
}

@media (min-width: 1025px) {

    .featured-projects {
        padding: 24px;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }

    .div-final-project-title{
      background-color: #FCEDEA;
      max-width: none;
    }
    .project-title {
        
        width: 50%;
        font-size: 80px;
  
    }
  
    .project-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
  
    .project {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
  
    }

    .final-project {
      background-color: #FCEDEA;
      max-width: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5%;
      padding: 24px;
      padding-right: 10%;
  }
  .final-project-image {
    width: 40%;
    padding-left: 3%;
}  
    
    .project-image {
        max-width: 40%;
        max-height: 40%;
        margin-top: 0;
        margin-bottom: 0;
    }
  
    .project-content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
  
    .final-project-content {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      max-width: 50%;
  }
  
    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 10px;
    }
}  