@import url('./styles/satoshi.css');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html, body {
  overflow-x: hidden;
}

body {
  position: relative;
  background-color: white;
  font-family: "Satoshi-Variable";
}



.blog {
  background-color: #FCEDEA;
  padding-bottom: 24px;
}
.div-my-words-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left:auto;
  margin-right: auto;
}

.my-words-title {

  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 97px;
  color: #EB5577;
  margin: 24px;
  
}

.my-words {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 24px;
}

.my-words-image {
  margin-top: 24px;
  margin-bottom: 24px;
}


.my-words-content h5 {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 27px;
  color: #EB5577; 
  margin-top: 20px;
  margin-bottom: 20px;

}

.my-words-content h2 {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 43px;
  color: #000000; 

}

.my-words-content p {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;
  color: #000000;
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-words-buttons {
  display: flex;
  
}
.skills-backgorund {
  background-color: #FDF2E4;
  padding-top: 24px;
  padding-bottom: 24px;
}

.div-skills-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left:auto;
  margin-right: auto;
}

.skills-title {
  text-align: center;
  margin:auto;
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 108px; 
  color: #0B24F5;
 
}

.skills{
  display: flex;
  flex-direction: column;
  justify-items: center;
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  text-align: center;
  color: #000000;
  padding-bottom: 24px;
}




.skills-title-1,.skills-title-2, .skills-title-3, .skills-title-4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  margin-top: 24px;
  margin-bottom: 24px;
}

mark {
  background: #EB5577;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 24px;
}

.contacts-title {
  align-self: center;
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 97px;
  color: #EB5577;
}

.contacts .div-profile-pic {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  margin-left: 0;
}

.info-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;   
}
.social-links-bottom{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}


@media (min-width: 667px) and (max-width: 1024px) {

  .blog {
      padding: 24px;
  }

  .skills-backgorund {
      padding: 24px;
  }
  .skills {
      padding: 24px;
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(2, 1fr);
  }

  .skills ul {
      text-align:start;
  }

  .skills h6 {
      justify-content:left;
  }

  .social-links-bottom{
      display: flex;
      flex-direction: row;
      justify-content: center;
  
  }
  }




@media (min-width: 1025px) {


  .blog-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      
  }

  .my-words {
      width: 40%;
  
  }

  .my-words-image {
      max-width: 40%;
      max-height: 40%;
      margin-top: 0;
      margin-bottom: 0;
  }

  .skills-backgorund {
      padding: 24px;
  }
  .skills {
      padding: 24px;
      display: grid;
      
      grid-template-columns: repeat(4, 1fr);
  }

  .skills ul {
      text-align:start;
  }

  .skills h6 {
      justify-content:left;
  }
  .social-links-bottom{
      display: flex;
      flex-direction: row;
      justify-content: center;
  
  }


}
